.navStyle {
  border: 2px solid black;
}

.left-which {
  border: 2px solid blue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.right-which {
  border: 2px solid red;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.name-which {
  border: 2px solid purple;  
  text-align: center;
}

.profile-image-which {
  border: 2px solid yellow;
  text-align: center;
}