<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 profile-image-which">
      <img src="{{profileImageURL}}">
    </div>
  </div><!--end profile image row-->
  <div class="row">
    <div class="col-md-12 name-which">
      Greetings {{name}}!
    </div>
  </div><!--end name row-->

  <div class="row row-eq-height">
    <a href="#/want">
      <div class="col-md-6 left-which">
        WhatChuWant?
      </div>
    </a>
    <a href="#/who">
      <div class="col-md-6 right-which">
        WhatChuGitN?
      </div>
    </a>
  </div><!--end WhatChu row-->
</div><!--end container-->